body {
    background-color: #1c1c1c;
    margin: 0;
    padding: 0;
    }
@font-face {
  font-family: "StickNoBills-Bold";
  src: url("fonts/static/StickNoBills-Bold.ttf") format("truetype");
}

h1 {
    color: #fef200;
    font-family: Monaco, Monospace;
}
p {
    color: white;
    font-family: Monaco, Monospace;
    min-width: 600px;
}
a {
    color: #fef200;
    font-family: Monaco, Monospace;
}
label {
    color: #fef200;
    font-family: Monaco, Monospace;
    display: inline-block;
    width: 120px;
    white-space: nowrap;
}
dd {
    color: white;
    font-family: Monaco, Monospace;
}
.horizontal-list {
    display: flex;
    list-style: none;
}
.horizontal-list li {
    margin-right: 10px;
}
.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #fef200;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  }
  
.button:hover {
    background-color: #e6d100;
  }

nav {
    float: right;
    margin-top: 11%;
  }

#logo {
    float: right;
    margin-right: 2%;
    margin-top: 0%;
  }

h2 {
    color: #fef200;
    font-family: StickNoBills-Bold;
    font-size: 5em;
    float: left;
    margin-top: 9.5%;
    margin-left: 1%;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-bottom: -5%;
  }
  
main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    padding: 10px;
    grid-column-gap: 350px;
    grid-row-gap: 0px;
  }
header {
    height: 130px;
    padding: 50px;
    background-color: #1c1c1c;
}

footer {
    height: 130px;
    margin-left: 2%;
    padding: 10px;
    padding-top: 50px;
    background-color: #1c1c1c;
    margin-top:20px;
}

dt {
    margin-bottom: 10px;
}
dd {
   margin-left: 5px;
   margin-bottom: 10px;
}
.contact {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }  
.description {
    flex: 1;
    margin-right: 20px;
  }
form {
    flex: 2;
    width: 30%;
  }
img {
    max-width: 100%;
    height: auto;
    margin: 10px;
    box-sizing: border-box;
  }
main img {
    max-width: 800%;
    max-height: 800%;
    width: auto;
    height: auto;
    margin: 10px;
    padding: 0px;
    object-fit: cover;
  }
.column1 {
    float: left;
    width: 50%;
  }
.column2 {
    float: right;
    width: 50%;
  }
  .wcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    width: 200vh;
  }
.ccontainer {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 45%;
}
.fcontainer{
  margin-top: -2%;
  display: block;
  float: left;
  width: 40%;
}
.contact{
  margin-top: 4%;
  width: 40%;
  float: right;
  display: block;
}
form{
  margin-bottom: 10%;
}